body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #69aefd;
}

.container {
    text-align: center;
    border: 1px solid #222c68;
    padding: 20px;
    border-radius: 8px;
    background-color: #4144cc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}
